@{
    ViewBag.Title = "MessageN";
}

Номер вашего заказа:  
     <div class="display-label">
    <b> @Html.DisplayNameFor(model => model.id)</b>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.id)
</div>

