@{
    ViewBag.Title = "О нас";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <li class="three">
        <p>Следующим шагом вы можете оформите заявку для оформления документа: </p>
        @Html.ActionLink("Оформление заявки", "Create", "Or")
    </li>
</article>
